<!DOCTYPE html>
<html>
  <head>
    <title>Admin Landing</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello Admin user</h1>

    <h2>Here are the amount of requests for each user</h2>
    <p id="requests"><%= requests %></p>
  </body>
</html>
