
<!DOCTYPE html>
<html>
  <head>
    <title>User landing</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello <%= name %></h1>

    <p>Your number of requests is: <%= numRequests %></p>
    <p>Your remaining tokens is: <%= numTokens %></p>
  </body>
</html>
